<div class="row border-bottom">
	<nav class="navbar navbar-static-top  " role="navigation" style="margin-bottom: 0">
		<div class="navbar-header">
			<span minimaliza-sidebar></span>
		</div>
		<ul class="nav navbar-top-links navbar-right">

			<li>
				<span class="m-r-sm text-muted welcome-message">Welcome to DARS</span>
			</li>
			<li uib-dropdown>
					<a class="count-info" href uib-dropdown-toggle>
							<i class="fa fa-briefcase fa-2x"></i> <span class="label label-sm label-warning">{{ vm.briefs.length }}</span>
					</a>
					<ul class="dropdown-messages" uib-dropdown-menu>
							<li ng-repeat="brief in vm.briefs | orderBy: 'brief.scheduled_time'">
									<div class="dropdown-messages-box">
										  <div class="row  m-t-sm">
													
													<div class="col-sm-12">
															<strong>DOCKET ID:</strong> {{ brief.docket_number }}
															<small class="text-danger pull-right">Today @ {{ vm.processTime(brief.scheduled_dt,brief.scheduled_time) }}</small>
															<br/>
															<strong># of Participants:</strong> {{ brief.participants.length }}
															<p>
																<br/>
																<button  class="btn btn-default btn-sm btn-bitbucket text-center btn-outline" ui-sref="conference({docket_id: brief.docket_number})" type="button" tooltip-placement="bottom" uib-tooltip="Go to hearing"> <i class="fa fa-send-o text-danger"></i></button>
															</p>
															
													</div>
											</div>
									</div>
									<div class="divider text-warning"></div>
							</li>
					</ul>
			</li>
			<li>
				<a class="pointer" ng-click="vm.logOutAlert()">
					<i class="fa fa-sign-out"></i> Log out
				</a>
			</li>
		</ul>
	</nav>
</div>